﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="myApplication.aspx.cs" Inherits="WebApplication1.WebForm1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>server</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <p id="text1" runat="server">
    Hello!
    </p>
    <br />
    <asp:Button id="btnChange" Text="Change Text" runat="server" OnClick="btnChange_Clicked"/>
    </div>
    </form>
</body>
</html>
